USE [master]
GO
/****** Object:  Database [bazaDanych]    Script Date: 26.05.2019 14:15:07 ******/
CREATE DATABASE [bazaDanych]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bazaDanych', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\bazaDanych.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bazaDanych_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\bazaDanych_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bazaDanych].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bazaDanych]
GO
USE [bazaDanych]
GO
/****** Object:  Table [dbo].[Badanie]    Script Date: 26.05.2019 14:15:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Badanie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data] [date] NULL,
	[opis] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dane]    Script Date: 26.05.2019 14:15:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dane](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](10) NOT NULL,
	[nazwisko] [varchar](10) NOT NULL,
	[telefon] [varchar](10) NOT NULL,
	[ulica] [varchar](15) NOT NULL,
	[nr_domu] [varchar](5) NOT NULL,
	[is_sponsor] [bit] NULL,
	[id_uzytkownik] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Darowizna]    Script Date: 26.05.2019 14:15:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Darowizna](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kwota] [float] NOT NULL,
	[data] [date] NOT NULL,
	[id_uzytkownik] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logowanie]    Script Date: 26.05.2019 14:15:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logowanie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data] [datetime] NULL,
	[id_uzytkownik] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odbior]    Script Date: 26.05.2019 14:15:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odbior](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data] [date] NOT NULL,
	[id_rezerwacja] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opiekun]    Script Date: 26.05.2019 14:15:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opiekun](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](10) NOT NULL,
	[nazwisko] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pies]    Script Date: 26.05.2019 14:15:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](10) NOT NULL,
	[id_rasa] [int] NULL,
	[id_opiekun] [int] NULL,
	[is_lagodny] [bit] NULL,
	[is_wege] [bit] NULL,
	[choroby] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rasa]    Script Date: 26.05.2019 14:15:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rasa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_pl] [varchar](20) NULL,
	[nazwa_ang] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rezerwacja]    Script Date: 26.05.2019 14:15:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezerwacja](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[data] [date] NOT NULL,
	[data_do] [date] NOT NULL,
	[id_pies] [int] NOT NULL,
	[id_uzytkownik] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uzytkownik]    Script Date: 26.05.2019 14:15:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uzytkownik](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [varchar](6) NOT NULL,
	[haslo] [varchar](8) NOT NULL,
	[upowaznienia] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Darowizna] ON 
GO
INSERT [dbo].[Darowizna] ([id], [kwota], [data], [id_uzytkownik]) VALUES (1, 3000, CAST(N'2019-05-25' AS Date), 2)
GO
SET IDENTITY_INSERT [dbo].[Darowizna] OFF
GO
SET IDENTITY_INSERT [dbo].[Logowanie] ON 
GO
INSERT [dbo].[Logowanie] ([id], [data], [id_uzytkownik]) VALUES (1, CAST(N'2019-05-24T18:00:40.883' AS DateTime), 1)
GO
INSERT [dbo].[Logowanie] ([id], [data], [id_uzytkownik]) VALUES (2, CAST(N'2019-05-24T18:04:18.493' AS DateTime), 1)
GO
INSERT [dbo].[Logowanie] ([id], [data], [id_uzytkownik]) VALUES (3, CAST(N'2019-05-24T18:05:47.950' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[Logowanie] OFF
GO
SET IDENTITY_INSERT [dbo].[Pies] ON 
GO
INSERT [dbo].[Pies] ([id], [imie], [id_rasa], [id_opiekun], [is_lagodny], [is_wege], [choroby]) VALUES (3, N'Ciapek', 1, NULL, 1, 1, NULL)
GO
INSERT [dbo].[Pies] ([id], [imie], [id_rasa], [id_opiekun], [is_lagodny], [is_wege], [choroby]) VALUES (15, N'Jurek', 2, NULL, 0, 0, NULL)
GO
INSERT [dbo].[Pies] ([id], [imie], [id_rasa], [id_opiekun], [is_lagodny], [is_wege], [choroby]) VALUES (16, N'Zenek', 5, NULL, 0, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Pies] OFF
GO
SET IDENTITY_INSERT [dbo].[Rasa] ON 
GO
INSERT [dbo].[Rasa] ([id], [nazwa_pl], [nazwa_ang]) VALUES (1, N'Kundel', N'Mongrel')
GO
INSERT [dbo].[Rasa] ([id], [nazwa_pl], [nazwa_ang]) VALUES (2, N'Maltanczyk', NULL)
GO
INSERT [dbo].[Rasa] ([id], [nazwa_pl], [nazwa_ang]) VALUES (3, N'Owczarek', NULL)
GO
SET IDENTITY_INSERT [dbo].[Rasa] OFF
GO
SET IDENTITY_INSERT [dbo].[Uzytkownik] ON 
GO
INSERT [dbo].[Uzytkownik] ([id], [login], [haslo], [upowaznienia]) VALUES (1, N'adnub', N'admin', N'A')
GO
INSERT [dbo].[Uzytkownik] ([id], [login], [haslo], [upowaznienia]) VALUES (2, N'marek', N'garek', N'U')
GO
INSERT [dbo].[Uzytkownik] ([id], [login], [haslo], [upowaznienia]) VALUES (5, N'mlem', N'blep', N'U')
GO
SET IDENTITY_INSERT [dbo].[Uzytkownik] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Uzytkown__7838F2722A51BD74]    Script Date: 26.05.2019 14:15:09 ******/
ALTER TABLE [dbo].[Uzytkownik] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dane] ADD  DEFAULT ((0)) FOR [is_sponsor]
GO
ALTER TABLE [dbo].[Darowizna] ADD  DEFAULT (getdate()) FOR [data]
GO
ALTER TABLE [dbo].[Logowanie] ADD  DEFAULT (getdate()) FOR [data]
GO
ALTER TABLE [dbo].[Odbior] ADD  DEFAULT (getdate()) FOR [data]
GO
ALTER TABLE [dbo].[Pies] ADD  DEFAULT ((1)) FOR [id_rasa]
GO
ALTER TABLE [dbo].[Pies] ADD  DEFAULT ((0)) FOR [is_lagodny]
GO
ALTER TABLE [dbo].[Pies] ADD  DEFAULT ((0)) FOR [is_wege]
GO
ALTER TABLE [dbo].[Rezerwacja] ADD  DEFAULT (getdate()) FOR [data]
GO
ALTER TABLE [dbo].[Dane]  WITH CHECK ADD FOREIGN KEY([id_uzytkownik])
REFERENCES [dbo].[Uzytkownik] ([id])
GO
ALTER TABLE [dbo].[Darowizna]  WITH CHECK ADD FOREIGN KEY([id_uzytkownik])
REFERENCES [dbo].[Uzytkownik] ([id])
GO
ALTER TABLE [dbo].[Logowanie]  WITH CHECK ADD FOREIGN KEY([id_uzytkownik])
REFERENCES [dbo].[Uzytkownik] ([id])
GO
ALTER TABLE [dbo].[Odbior]  WITH CHECK ADD FOREIGN KEY([id_rezerwacja])
REFERENCES [dbo].[Rezerwacja] ([id])
GO
ALTER TABLE [dbo].[Pies]  WITH CHECK ADD FOREIGN KEY([id_opiekun])
REFERENCES [dbo].[Opiekun] ([id])
GO
ALTER TABLE [dbo].[Pies]  WITH CHECK ADD FOREIGN KEY([id_rasa])
REFERENCES [dbo].[Rasa] ([id])
GO
ALTER TABLE [dbo].[Rezerwacja]  WITH CHECK ADD FOREIGN KEY([id_pies])
REFERENCES [dbo].[Pies] ([id])
GO
ALTER TABLE [dbo].[Rezerwacja]  WITH CHECK ADD FOREIGN KEY([id_uzytkownik])
REFERENCES [dbo].[Uzytkownik] ([id])
GO
USE [master]
GO
